doctype html
html
  head
    title Custom Object Table
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Custom Object Table

    a(href="/update-cobj") Add/Update this table

    if records && records.length
      table(border="1")
        thead(style="background-color: pink")
          tr
            th Name
            th Amount
            th Length
        tbody
          each record in records
            tr
              td #{record.properties.name}
              td #{record.properties.amount}
              td #{record.properties.length}
    else
      p No records found.

