doctype html
html
  head
    title Homepage
  body
    h1 Custom Object Records
    a(href="/update-cobj") Add New Record
    table(border="1")
      thead
        tr
          th Name
          th Field 1
          th Field 2
      tbody
        each item in records
          tr
            td= item.properties.name
            td= item.properties.kaza_1
            td= item.properties.kaza_2
