doctype html
html
  head
    title Add Record
  body
    h1 Add a New Custom Object Record
    form(action="/update-cobj" method="POST")
      div
        label(for="name") Name:
        input(type="text", name="name", required=true)
      div
        label(for="amount") Amount:
        input(type="text", name="amount")
      div
        label(for="length") Length:
        input(type="text", name="length")
      div
        button(type="submit") Submit
    a(href="/") Return to Homepage
